{#
/**
 * @file
 * Header
 *
 * Available variables:
 * - type: The page type. {default/single}
 * - banner: The page banner.
 *   - image: The banner background image
 *     - src: Source path of the image
 *     - alt: Alternate text of the image
 *   - title: The page title
 * - topbar[]: The topbar items.
 *   - email: The email address.
 *   - phone: The phone number.
 *   - cta: The reservation link.
 *     - text: The button text.
 *     - url: The link url.
 *   - social_links[]: An array of social links.
 *     - icon: The link icon.
 *     - url: The link url.
 * - menus[]: The menu items.
 *   - logo_primary: The primary logo source path
 *   - logo_secondary: The secondary logo source path.
 *   - homepage_url: The front page url
 *   - items[]: An array of menu links.
 *     - text: The link text.
 *     - url: The link url.
 *     - submenus[]: An array of submenu links.
 *       - text: The link text.
 *       - url: The link url.
 *   - seach_form: The search form.
 *     - name: The name of search input.
 *     - placeholder: The search input placeholder.
 * - slides[]: An array of slides
 *   - bg: The slide background image source path.
 *   - title: The slide title.
 *   - subtitle: The slide subtitle.
 *   - cta: The slide link.
 *     - text: The link text.
 *     - url: The link url.
 */
#}
{% set pageClass = (type == 'single') ? 'single-page' : '' %}
<header class="top-area {{ pageClass }}">

  {% if banner|default() -%}
    <div class="page-barner-bg" style="background: rgba(0, 0, 0, 0) url('{{ banner.image.src }}') no-repeat scroll center center / cover;"></div>
  {%- endif %}

  <div class="header-top-area">
    {% if topbar|default() -%}
      {% include '@d8training/topbar/topbar.twig' with topbar only %}
    {%- endif %}
    {% include '@d8training/main-menu/main-menu.twig' with menus only %}
  </div>

  {% if slides|default() -%}
    {% include '@d8training/slider/slider.twig' with slides %}
  {%- endif %}

  {% if banner|default() -%}
    {% include '@d8training/banner/banner.twig' with banner %}
  {%- endif %}

</header>
